#SPDX-License-Identifier: MIT
---
# defaults file for fogo_validator
bootstrap_disks: false
enable_cpu_performance_mode: true
disable_swap: true
service_user: fogo
validator_client_version: v14.0.0
stage: testnet # either testnet or mainnet

validator_client_tarfile_checksum: d5e3493a7192cbb3713f92870205c085b0fa163d
firedancer_config_path: "/home/{{ service_user }}/firedancer-config.toml"
# setting the log path to `-` means outputing logs to stdout
# we use a file instead to avoid duplicating logs to syslog
firedancer_log_path: "/home/{{ service_user }}/firedancer-validator.log"
# if the logs are output to a file, we set up a daily log rotation
firedancer_log_rotation_days: 7
# it is recommended to create `identity.json` as a symlink file that points to the correct identity keypair
identity_path: "/home/{{ service_user }}/identity.json"
# staked validator identity keypair that can be used for hotswitching identities (using the set-identity API)
active_identity_path: "/home/{{ service_user }}/validator-keypair.json"
# a non-staked identity keypair that can be used for hotswitching identities (using the set-identity API)
standy_identity_path: "/home/{{ service_user }}/unstaked-identity.json"
# the prefix of a tower file's name
tower_file_prefix: "tower-1_9"
vote_account_path: ""
firedancer_config_template_path: "firedancer_config_template_{{ stage }}.toml.j2"
firedancer_systemd_template_path: "firedancer_systemd.j2"

# The OS may be installed on the ledger disk, though testing has shown better performance with the ledger on its own disk
# Accounts and ledger can be stored on the same disk, however due to high IOPS, this is not recommended
# ref: https://solanahcl.org/
ledger_path: "/home/{{ service_user }}/ledger"

# Absolute directory path to place the accounts database in.
# If this is empty, it will default to the `accounts` subdirectory of the ledger `path` above.
accounts_path: "/mnt/accounts"

firedancer_gossip_port: 8001
firedancer_dynamic_port_range: 8901-9000

# fogo_binaries_build_mode support two values: remote (defeault) and push
# `remote` means the binaries are built by each host which may lead to performance issues if the node is running as an active validator
# `push` means the binaries are pre-built and placed in the controller node, under the path `fogo_binaries_local_path`
fogo_binaries_build_mode: remote
fogo_binaries_local_path: ./fogo_artifacts
# the list of binaries to be built
fogo_binaries_to_build:
  - fdctl
  - solana
  - agave-ledger-tool

# Run the Solana CLI installation tool to install binaries such as solana and agave-validator
# ref: https://docs.anza.xyz/cli/install#use-the-solana-install-tool
install_agave_validator_binary: true
agave_validator_version: v2.2.20
solana_cli_config_template_path: "solana_cli.yml.j2"
solana_cli_json_rpc_url: "https://{{ stage }}.fogo.io"

# if agave-validator is available, we use its wait-for-restart-window subcommand to find a good timing for a restart
# this option defines the value of option --max-delinquent-stake
max_delinquent_stake_before_restart: 70

# this option defines the value of option --min-idle-time
# note that on Fogo the slot time is 40ms while on Solana it is 400ms
# so setting --min-idle-time to 50 minutes actually means 7500 slots, which is around 5 mins (10x faster)
min_idle_time_in_minutes: 50
