[Unit]
Description=Fogo Firedancer Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
LimitNOFILE=52428800 # Important!

ExecStartPre=fdctl configure init all --config /home/fogo/firedancer-config.toml
ExecStart=fdctl run --config /home/fogo/firedancer-config.toml

[Install]
WantedBy=multi-user.target
