user = "{{ service_user }}"

# Dynamic port range setting
dynamic_port_range = "{{ firedancer_dynamic_port_range }}"

[gossip]
# Set host to the public IP address that other nodes can use to exchange traffic
# with this node.
host = "{{ ansible_default_ipv4.address }}"
entrypoints = ["testnet-entrypoint.fogo.io:8001"]
port = {{ firedancer_gossip_port }}

[tiles.poh]
lagged_consecutive_leader_start = false

[ledger]
# Set `path` to where you want the ledger to be stored. This directory will grow
# to ~500GB by default. It should live in fast storage, preferably NVMe SSD.
path = "{{ ledger_path }}"
accounts_path = "{{ accounts_path }}"

[consensus]
# Set `identity_path` to the path of your Solana-compatible identity keypair
# file (generated with solana-keygen new).
identity_path = "{{ identity_path }}"

# This option is passed to the Agave client with the
# `--vote-account` argument.
vote_account_path = "{{ vote_account_path }}"

expected_genesis_hash = "9GGSFo95raqzZxWqKM5tGYvJp5iv4Dm565S4r8h5PEu9"
expected_shred_version = 298

[snapshots]
full_snapshot_interval_slots = 22500

[log]
level_logfile = "INFO"
# Defaults to stdout, but you can set this to a file to persist logs.
path = "-"

[rpc]
port = 8899
full_api = true
only_known = false
transaction_history = true
extended_tx_metadata_storage = true
private = true
