---
json_rpc_url: https://testnet.fogo.io
websocket_url: ''
keypair_path: /home/{{ service_user }}/.config/solana/id.json
address_labels:
  '11111111111111111111111111111111': System Program
commitment: confirmed
