---
json_rpc_url: {{ solana_cli_json_rpc_url }}
websocket_url: ''
keypair_path: /home/{{ service_user }}/.config/solana/id.json
address_labels:
  '11111111111111111111111111111111': System Program
commitment: confirmed
