- name: Remove temporary source code folder {{ temp_source_code_folder }}
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.file:
    path: "{{ temp_source_code_folder }}"
    state: absent
  tags:
    - update_binary

- name: Recreate the temporary source code folder {{ temp_source_code_folder }}
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.file:
    path: "{{ temp_source_code_folder }}"
    state: directory
  tags:
    - update_binary

- name: Download the release tar file
  become: true
  become_user: "{{ service_user }}"
  get_url:
    url: "https://static.fogo.io/fogo-{{ validator_client_version }}.tar.gz"
    dest: /tmp
    checksum: "sha1:{{ validator_client_tarfile_checksum }}"
  tags:
    - update_binary

- name: Extract the files from the tar file
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.unarchive:
    src: "/tmp/fogo-{{ validator_client_version }}.tar.gz"
    dest: "{{ temp_source_code_folder }}"
    creates: "{{ temp_source_code_folder }}/fogo/deps.sh"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
    remote_src: true
  tags:
    - update_binary

- name: Wait for a maintance window to build the binary
  become: true
  become_user: "{{ service_user }}"
  shell: >
    bash -lc
    'agave-validator --ledger {{ ledger_path }}
    wait-for-restart-window --max-delinquent-stake {{ max_delinquent_stake_before_restart }} --min-idle-time {{ min_idle_time_in_minutes }}'
  when: agave_validator_check is undefined or agave_validator_check.rc == 0
  register: wait_cmd
  changed_when: false
  failed_when: false
  tags:
    - update_binary

- name: Run deps.sh to install dependencies
  become: true
  become_user: "{{ service_user }}"
  shell: yes y | ./deps.sh
  args:
    chdir: "{{ temp_source_code_folder }}/fogo"
  retries: 2
  delay: 5
  tags:
    - update_binary

- name: "Build {{ fogo_binaries_to_build | join(', ') }}"
  become: true
  become_user: "{{ service_user }}"
  shell: ". ~/.profile && make -j {{ fogo_binaries_to_build | join(' ') }}"
  args:
    chdir: "{{ temp_source_code_folder }}/fogo"
    creates: "{{ temp_source_code_folder }}/fogo/build/native/gcc/bin/{{ fogo_binaries_to_build[0] | default('fdctl') }}"
  register: make_result
  retries: 2
  until: make_result.rc == 0
  delay: 5
  tags:
    - update_binary
