---
- name: Install agave_validator binary
  shell: 'sh -c "$(curl -sSfL https://release.anza.xyz/{{ agave_validator_version }}/install)" -- --no-modify-path {{ agave_validator_version }}'
  when: install_agave_validator_binary
  tags:
    - solana_cli

- name: Copy agave_validator to /usr/local/bin
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.local/share/solana/install/active_release/bin/agave-validator"
    dest: "/usr/local/bin/agave-validator"
    remote_src: true
    mode: "0755"
  when: install_agave_validator_binary
  tags:
    - solana_cli

- name: Ensure Solana CLI config directory exists
  file:
    path: "/home/{{ service_user }}/.config/solana/cli"
    state: directory
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
    mode: "0755"
  tags:
    - solana_cli

- name: Create Solana CLI config for Fogo
  template:
    src: "{{ solana_cli_config_template_path }}"
    dest: "/home/{{ service_user }}/.config/solana/cli/config.yml"
    mode: "0644"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
  tags:
    - solana_cli
