- name: Build artifacts in the remote node
  include_tasks: build_fogo_binaries.yml
  vars:
    temp_source_code_folder: "/home/{{ service_user }}/fogo-{{ validator_client_version }}"

- name: Inspect tarball top-level folder
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.command: >
    sh -c "tar -tf /tmp/fogo-{{ validator_client_version }}.tar.gz | head -n 5"
  register: tar_list
  changed_when: false
  tags:
    # the tag `never` is used here because the same task is included in build_fogo_binaries.yml
    # this combo makes the task executed only when tag `fetch_only` is specified
    - never
    - fetch_only

- name: Determine top-level folder name
  ansible.builtin.set_fact:
    tarball_top_folder: "{{ tar_list.stdout_lines[0] | regex_replace('/.*', '') }}"
  tags:
    # the tag `never` is used here because the same task is included in build_fogo_binaries.yml
    # this combo makes the task executed only when tag `fetch_only` is specified
    - never
    - fetch_only

- name: Remove temporary artifacts folder in {{ inventory_hostname }} if it exists
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.file:
    path: "/tmp/fogo_artifacts"
    state: absent
  tags: fetch_only

- name: Recreate the temporary artifacts folder /tmp/fogo_artifacts
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.file:
    path: /tmp/fogo_artifacts
    state: directory
  tags: fetch_only

- name: Copy the binaries in {{ inventory_hostname }} to the temporary folder so that we can change the ownership and make it working for rsync
  become: true
  become_user: "{{ service_user }}"
  ansible.builtin.copy:
    src: "/home/{{ service_user }}/fogo-{{ validator_client_version }}/{{ tarball_top_folder | default('fogo-' ~ validator_client_version[1:]) }}/build/native/gcc/bin/{{ item }}"
    dest: "/tmp/fogo_artifacts/{{ item }}"
    remote_src: true
    mode: preserve # the file will be given the same permissions as the source file
  loop: "{{ fogo_binaries_to_build }}"
  tags: fetch_only

- name: Fetch artifacts
  ansible.posix.synchronize:
    src: "{{ inventory_hostname }}:/tmp/fogo_artifacts/{{ item }}"
    dest: "{{ fogo_binaries_local_path }}/{{ item }}"
    mode: pull
    rsync_opts:
      - "--mkpath" # create target directory if missing, available in newer versions of rsync (3.2.0 and later)
  loop: "{{ fogo_binaries_to_build }}"
  delegate_to: "localhost"
  tags: fetch_only
